# Database
DATABASE_URL=postgresql://ab_test:ab_test_password@postgres:5432/ab_testing

# Redis
REDIS_URL=redis://redis:6379/0

# Security (для JWT токенов)
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Go Service URL (Python будет обращаться к Go)
GO_SERVICE_URL=http://go-edge:8080

# App Settings
DEBUG=True